<footer>
    <div class="container">
        <p>&copy; {{ now.Format "2006" }} No Tears Notary. All rights reserved.</p>
        <p>Follow us on 
            <a href="https://twitter.com/yourprofile" target="_blank">Twitter</a>, 
            <a href="https://facebook.com/yourprofile" target="_blank">Facebook</a>, 
            <a href="https://instagram.com/yourprofile" target="_blank">Instagram</a>.
        </p>
        <p>For inquiries, please contact us at <a href="mailto:beth@notearsnotary.com">beth@notearsnotary.com</a></p>
    </div>
</footer>